body,html {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color:white;
    background: linear-gradient(to bottom, #000000, #000000);
  }
select, button, input{
    padding: 10px;
  }
header{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 0)), url('hero.jpg');
    height: 450px;
    background-size: cover;
    color:white;
    padding-left: 3%;
  }
  header h1{
    margin-top:10%;
  }
#banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#brand , #price{
    display:flex;
    flex-direction: row;
}
#btn{
    background-color:  black;
    border-radius: 18px;
    border:1px solid plum;
    color:white;
    margin: 20px;
    box-shadow: 0 1px 15px rgba(148, 1, 253, 0.783);
}
.slct{
    background-color: rgb(0, 0, 0);
    color:white;
    width:200px;
    border:none;
    border-bottom: 1px solid rgb(151, 0, 185);
    align-items: center;
}
select option{
    background-color: rgb(0, 0, 0);
    color:rgb(191, 0, 255);
}
#doc{
    border-radius: 25px;
    border: 1px solid rgb(36, 35, 35);
    background-color: rgb(49, 48, 48);
    color:white;
    font-weight: bold;
    padding: 1%;
}
footer{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;
    background-color: #000000;
    border-top: 1px solid rgb(151, 0, 185);
    box-shadow: 0 0.2px 50px rgba(148, 1, 253, 0.783);
}
footer div{
    width:80%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
footer div img{
    width:25%;
    height: auto;
}
header h1,h4 {
    background: -webkit-linear-gradient(55deg,#ffffff , #ba9bf8 48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

footer span::after{
    content: " | ";
    padding-inline: 10px;
    color:rgb(151, 0, 185)
}
footer{
    background: -webkit-linear-gradient(45deg,#1283e0, #fe06ed 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

